<ion-header>
  <ion-toolbar id='tool'>
    <ion-buttons id='tool'>
      <ion-button id='icon' routerLink='/notifications' >
        <ion-icon name='options-outline' style='color: #FFFFFF;'></ion-icon>
      </ion-button>
      <ion-button id='hov' [ngStyle]="{'color': value ? '#FFFFFF' : 'gold'}" routerLink='/chat'>
        Chats
      </ion-button>
      <ion-button id='hov' routerLink='/profile'>
        Profile
      </ion-button>
      <ion-button id='hov' routerLink='/home'>
        Logout
      </ion-button>
  </ion-buttons>    
</ion-toolbar>
</ion-header>

<ion-content>

  <div class='status'>
    <div [style.opacity]="crossVis? '1' : '0'">
      <ion-icon name='heart-outline'></ion-icon>
    </div>

    <div [style.opacity]="heartVis? '1' : '0'">
      <ion-icon name='heart-dislike-outline'></ion-icon>
    </div>

  </div>

  <div class='card'  *ngIf="cards.length > 0; else nomatch">
    <div #tinderCards class='cards' (pan)='handlePick($event)' (panend)='handlePickEnd($event)' (transitionend)='handleShift()' *ngFor="let item of cards; let i = index" 
    [ngStyle]="{'zIndex': cards.length - i, transform:'scale(' + (20 - i) / 20 + ') translateY(-' + 20 * i + 'px)'}">
      <ion-img [src]='item.img'></ion-img>
      <p (ion-click)='visit(item.id)'>{{item.name}}</p>
      <p>{{item.age}}</p>
      <p>{{item.sex}}</p>
      <p>Distance</p>
      <p>{{item.des}}</p>
    </div>
  </div>

  <div class='buttons'>

    <button id="dislikeb" (click)='clickBtn($event, false)'><ion-icon name='heart-dislike-outline' style="color: rgb(21, 21, 151);"></ion-icon></button>

    <button id="likeb" (click)='clickBtn($event, true)'><ion-icon name='heart-outline' style="color: rgb(251, 61, 86);"></ion-icon></button>

  </div>

</ion-content>

<ng-template #notification>
  <ion-icon name='notifications-outline' style='color: yellow;'></ion-icon>
</ng-template>

<ng-template #nomatch>
  <div class="card">
    <p id="text1">Sorry, it appears that you <br/> dont have a match yet :c</p>
    <p id="text1">Mardito feo bobo</p>
    <p id="text1">Remember to select your search parameters in the button settings.</p>
  </div>
</ng-template>


