#tool{
    
    margin: 0 auto;
    height: 50px;
    ion-button{
        margin: 0 auto;
        color: white;
        height: 30px;
        width: 110px
        
    }
    #hov:hover{
        background: rgb(134, 8, 8)
    }
    #icon{
        width: 60px;
    }

    ion-icon{
        font-size: 30px;
    }

}
ion-content{
    --background:  #FFFFFF;
}
ion-toolbar{
   --background: #5285C6;
}
