<ion-header>
  <ion-toolbar>
    <ion-buttons id='tool'>
      <ion-button  routerLink='/profile'>
        Profile
      </ion-button>
      <ion-button [ngStyle]="{'color': value ? 'white' : 'gold'}" routerLink='/cards'>
        Match
      </ion-button>
      <ion-button routerLink='/home'>
        Logout
      </ion-button>
  </ion-buttons>    
</ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ng-template #notification>
  <ion-icon name='notifications-outline' style='color: yellow;'></ion-icon>
</ng-template>
