#profile-avatar{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 19%;
    
}

#likeheart{
    height: 80%;
    width: 70%;
    display: inline-block;
}

#dislikeheart{
    height: 80%;
    width: 70%;
   display: inline-block;
}
#out-button{

    position: relative;
    width:200px;
    margin:auto;
    margin-top: 2vh;
    --background: #5285C6;
}

#input-one{
    --background: #5285C6;
    --padding: 5;
    --placeholder-color: white;
}
#back-button{
    --background:  #001f3f;
}
#save-button{

    --background:  #001f3f;
}
#profile-buttons{
    --background: #6d1004;

}

ion-content{

    --background:  #FFFFFF;

    ion-input{
        color: white;
    }

    ion-textarea{
        color: white;
    }
    p{
        color: white;
    }
    ion-label{
        color: white;
    }
}

ion-icon{
    font-size: 40px;
    align-content: center;
}

#propic{
    margin:0 auto;
    max-width: 400px !important;
    max-height: 300px !important;
    border-radius: 50;
}


#profilepic{
    text-align: center;
    justify-content: center;
    width: 50;
    height: 50;
    border-radius: 50;
}

ion-item{
    --background: #5285C6;
    
}

#title-color{
    color:"black";
}
ion-title{
    color: white;
  --background: #5285C6;
}

#buttons{
    margin: 0 auto;
    --background: #5285C6;
}

#tool{
    --background: #5285C6;
    margin: 0 auto;
    height: 50px;
    --background: #5285C6;
    ion-button{
        margin: 0 auto;
        color: white;
        height: 30px;
        width: 110px;
        --background: #5285C6;
    }
    #hov:hover{
        background: rgb(134, 8, 8)
    }
    #icon{
        width: 60px;
    }

    ion-icon{
        font-size: 30px;
    }

}

ion-toolbar{
   --background: #5285C6;
}

ion-header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
