<ion-content>
  <ion-header>     
    <ion-toolbar>
    <ion-buttons id='tool'>
      <ion-button  routerLink='/chat'>
        Chats
      </ion-button>
      <ion-button  routerLink='/cards'>
        Match
      </ion-button>
      <ion-button routerLink='/home'>
        Logout
      </ion-button>
  </ion-buttons>    
</ion-toolbar>
</ion-header>

<ng-template #notification>
  <ion-icon name='notifications-outline' style='color: yellow;'></ion-icon>
</ng-template>

  <ion-item>
    <p *ngIf="follow == true">Following</p>
    <p *ngIf="follow == false">Not following</p>
    <ion-icon *ngIf="follow == false" (click)='setFollow()' name='heart-outline' style="color: rgb(251, 61, 86);"></ion-icon>
    <ion-icon *ngIf="follow == true" (click)='setFollow()' name='heart-dislike-outline' style="color: rgb(21, 21, 151);"></ion-icon>
  </ion-item>

  <ion-item id="profilepic">
    <ion-img  id='propic' [src]="img" *ngIf="img; else noPic"></ion-img>    
  </ion-item>

  
  
  <ng-template id="profilepic" #noPic>
    <<ion-progress-bar type="indeterminate"></ion-progress-bar>>
  </ng-template>

  <div id="container">
    <ion-item id="input-one">
      <ion-label>Name</ion-label>
      <ion-input placeholder='Please, wait' [(ngModel)]='name' ngDefaultControl readonly='true'></ion-input>
    </ion-item>

    <ion-item id="input-one">
      <ion-label>Age</ion-label>
      <ion-input placeholder='While' [(ngModel)]='age' ngDefaultControl readonly='true'></ion-input>
    </ion-item>

    <ion-item id="input-one">
      <ion-label>Sex</ion-label>
      <ion-input placeholder='Loads' [(ngModel)]='sex' ngDefaultControl readonly='true'></ion-input>
    </ion-item>

    <ion-item>
      <ion-title style="text-align: center;"><b>Description</b></ion-title>
    </ion-item>

    <ion-item id='input-one'>
      <ion-textarea id='texta' rows='1' (input)='change()' [(ngModel)]='description' readonly='true'></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-title style="text-align: center;"><b>Likes</b></ion-title>
    </ion-item>

      <ion-item id="input-one" *ngFor="let entry of like">
        <ion-input placeholder={{Likes}} [(ngModel)]="entry.cont" readonly='true'></ion-input>
      </ion-item>
    
    <ion-item>
      <ion-title style="text-align: center;"><b>Dislikes</b></ion-title>
    </ion-item>
      <ion-item id="input-one" *ngFor="let entry of dislike">
        <ion-input placeholder={{Disikes}} [(ngModel)]="entry.cont" readonly='true'></ion-input>
      </ion-item>
    
  </div>

</ion-content>
