<ion-header>
  <ion-toolbar>
    <ion-buttons id='tool'>
      <ion-button  routerLink='/profile'>
        Profile
      </ion-button>
      <ion-button  routerLink='/chat'>
        Chats
      </ion-button>
      <ion-button [ngStyle]="{'color': value ? 'white' : 'gold'}" routerLink='/cards'>
        Match
      </ion-button>
      <ion-button routerLink='/home'>
        Logout
      </ion-button>
  </ion-buttons>    
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-icon id="buttons" name="camera-outline" (click)='takeImg()'></ion-icon>
    <ion-icon id="buttons" name="image-outline" (click)='selectImg()'></ion-icon>
  </ion-item>
  <ion-item lines='no-lines' *ngFor="let item of states">
    <ion-item *ngIf="item.type; else pict">
        <p>{{item.name}}:</p>
        <p>{{item.cont}}:</p>
    </ion-item>
    <ng-template #pict>
      <p>{{item.name}}:</p>
      <ion-img [src]='item.cont'></ion-img>
    </ng-template>
  </ion-item>

</ion-content>

<ion-footer>
   <ion-item>
    <ion-textarea placeholder={{description}} id='texta' rows='1' (input)='change()' [(ngModel)]='sendMsg'></ion-textarea>
    <ion-icon name='arrow-forward-outline' (click)='send()'></ion-icon>
  </ion-item>
</ion-footer>
