<ion-content>
  <ion-item >
    <ion-icon id="buttons" name="camera-outline" (click)='takeImg()'></ion-icon>
    <ion-icon id="buttons" name="image-outline" (click)='selectImg()'></ion-icon>
  </ion-item>

  <ion-item id="profilepic">
    <ion-img  id='propic' [src]="img" *ngIf="img; else noPic"></ion-img>    
  </ion-item>

  
  
  <ng-template id="profilepic" #noPic>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-template>

  <div id="container">
    <ion-item id="input-one">
      <ion-label>Name</ion-label>
      <ion-input placeholder={{name}} [(ngModel)]='name'></ion-input>
    </ion-item>

    <ion-item id="input-one">
      <ion-label>Age</ion-label>
      <ion-input placeholder={{age}} [(ngModel)]='Age'></ion-input>
    </ion-item>

    <ion-item id="input-one">
      <ion-label>Sex</ion-label>
      <ion-input placeholder= {{sex}} [(ngModel)]='sex'></ion-input>
    </ion-item>

    <ion-item>
      <ion-title style="text-align: center;"><b>Description</b></ion-title>
    </ion-item>

    <ion-item id='input-one'>
      <ion-textarea id='texta' rows='1' (input)='change()' [(ngModel)]='description'></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-title style="text-align: center;"><b>Likes</b></ion-title>
    </ion-item>

      <ion-item id="input-one" *ngFor="let entry of like">
        <ion-input placeholder={{Likes}} [(ngModel)]="entry.cont"></ion-input>
      </ion-item>
    
    <ion-item>
      <ion-title style="text-align: center;"><b>Dislikes</b></ion-title>
    </ion-item>
      <ion-item id="input-one" *ngFor="let entry of dislike">
        <ion-input placeholder={{Disikes}} [(ngModel)]="entry.cont"></ion-input>
      </ion-item>
   
    <ion-item >
      <ion-button (click)='edit()'>Update</ion-button>
      <ion-button id="out-button" (click)='logout()'>Logout</ion-button>
      
    </ion-item>
    
  </div>
</ion-content>
