#profile-avatar{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 19%;
    
}


#out-button{

    position: relative;
    width:200px;
    margin:auto;
    margin-top: 2vh;
}

#input-one{
    --background:  rgb(255, 87, 87);
    --padding: 5;
    --placeholder-color: white;
}
#back-button{
    --background:  #001f3f;
}
#save-button{

    --background:  #001f3f;
}
#profile-buttons{
    --background: #6d1004;

}

ion-content{

    --background:  rgb(195, 60, 60);
}

ion-icon{
    font-size: 40px;
    align-content: center;
}

#propic{
    margin:0 auto;
    max-width: 400px !important;
    max-height: 300px !important;
    border-radius: 50;
}


#profilepic{
    text-align: center;
    justify-content: center;
    width: 50;
    height: 50;
    border-radius: 50;
}

ion-item{
    --background: rgb(195, 60, 60);
}

ion-title{
    background: rgb(195, 60, 60);
}

#buttons{
    margin: 0 auto;
}