#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#head-one{
  background: rgb(255, 87, 87);
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: rgb(255, 87, 87);

  margin: 0;
}

#container a {
  text-decoration: none;
}
#register-color{
  background:  #001f3f;
}

ion-content ion-toolbar {
  --background: translucent;
}
#input-one{
  --background: rgb(255, 87, 87);
}
#login-bar{
  --background: rgb(195, 60, 60);
}
ion-content{
  --background:  rgb(195, 60, 60);
  color: white;
}
ion-item{
  --background: rgb(195, 60, 60);
  p{
    margin: 0 auto;
    font-size: larger;
  }
}

ion-list{
  background:  rgb(255, 87, 87);
}

h2{
  background:  #001f3f;
  color: white;
}


ion-button{
  color: black;
  --background: rgb(216, 84, 84);
}

ion-icon{
  color: black;
  font-size: 50px;
  margin: auto;
}

#title{
  justify-content: center;
  text-align: center;
}


#updatebtn{
  width: 300;
  margin: 0 auto;
}
