#tool{
    --background: #5285C6;
    margin: 0 auto;
    height: 50px;
    ion-button{
        margin: 0 auto;
        color: #FFFFFF; //
        height: 30px;
        width: 90px
    
    }
   
    #icon{
        width: 60px;
    }

    ion-icon{
        font-size: 30px;
    }


}

ion-range{
    --height: 30px;
    --background: #FFFFFF;
}

ion-toolbar{
    color: #FFFFFF;
    --background: #5285C6; //white
}

#ion-but{
    margin: 0 auto;
    color: #5285C6;
    height: 40px;
    font-size: 15px;
    --background: #FFFFFF; //white
}

ion-item{
    --background: #5285C6; //whte
    color: #FFFFFF;
    
}

ion-content{
    p{
    margin: 0 auto;
    font-size: larger;
    color: #FFFFFF;
  }
    --background:  #5285C6; //blue
    --border-style: unset!important;
    color: #FFFFFF;
}
