#tool{
    
    margin: 0 auto;
    height: 50px;
    ion-button{
        margin: 0 auto;
        color: white;
        height: 30px;
        width: 90px
    
    }
    #hov:hover{
        background: rgb(134, 8, 8)
    }
    #icon{
        width: 60px;
    }

    ion-icon{
        font-size: 30px;
    }


}

ion-range{
    --height: 30px
}

ion-toolbar{
    --background: rgb(195, 60, 60)
}

#ion-but{
    margin: 0 auto;
    color: white;
    height: 40px;
    font-size: 15px;
}

ion-item{
    --background: rgb(255, 118, 118);
    
}

ion-content{
    --background: rgb(255, 118, 118);
    --border-style: unset!important;
    color: white;
}
