#tool{
    --background: #5285C6;
    margin: 0 auto;
    height: 50px;
    ion-button{
        margin: 0 auto;
        color: white;
        height: 30px;
        width: 90px
    
    }
    #hov:hover{
        background: rgb(134, 8, 8)
    }
    #icon{
        width: 60px;
    }

    ion-icon{
        font-size: 30px;
    }


}

ion-range{
    --height: 30px
}

ion-toolbar{
    --background: #5285C6;
}

#ion-but{
    margin: 0 auto;
    color: white;
    height: 40px;
    font-size: 15px;
    --background: #5285C6;
}

ion-item{
    --background: #5285C6;
    color: black;
    
}

ion-content{
    p{
    margin: 0 auto;
    font-size: larger;
    color: black;
  }
    --background:  #FFFFFF;
    --border-style: unset!important;
    color: black;
}
