ion-checkbox{
    margin-left: 10px;
}

ion-label {
       .menlabel{
        margin-left: 30px;
    }
}
#input-one{
    --background: #5285C6;
  }

#regi-button{
    color: black;
    --background: #5285C6;//blue
}
#register-bar{

    --background:  #FFFFFF;
}
ion-content{
    --background: #FFFFFF;
}

ion-list{
    background: #FFFFFF;
}

ion-input{
    color: #5285C6;
}

ion-label{
    color: black;
}

b{
    color: black;
}

h2{
    color: black;
}

ion-button{
    color: #5285C6;
    --background: rgb(216, 84, 84);
}