ion-checkbox{
    margin-left: 10px;
}

ion-label {
       .menlabel{
        margin-left: 30px;
    }
}
#regi-button{
    color:#5285C6;
    --background: #FFFFFF; //white
}
#input-one{
    --background: #FFFFFF;
  color: #5285C6; //white
  }
#register-bar{

    --background:  #5285C6; //blue
}
ion-content{
    --background: #5285C6; //blue
}

ion-list{
    background: #5285C6; //blue
}



ion-label{
    color: #5285C6;
}

b{
    color: #FFFFFF;
}

h2{
    color: #FFFFFF;
}

ion-button{
    color: #FFFFFF;
    --background:#5285C6;
}