ion-checkbox{
    margin-left: 10px;
}

ion-label {
       .menlabel{
        margin-left: 30px;
    }
}
#input-one{
    --background: rgb(255, 87, 87);
  }
#register-bar{

    --background:  rgb(195, 60, 60);
}
ion-content{
    --background: rgb(195, 60, 60);
}

ion-list{
    background: rgb(187, 44, 44);
}

ion-input{
    color: black;
}

ion-label{
    color: black;
}

b{
    color: black;
}

h2{
    color: black;
}

ion-button{
    color: black;
    --background: rgb(216, 84, 84);
}